Implement a URI decoder/encoder component

URI syntax is described in [RFC 3986](https://tools.ietf.org/html/rfc3986), and is later updated by [RFC 687](https://tools.ietf.org/html/rfc6874)4 and [RFC 7320](https://tools.ietf.org/html/rfc7320).

A component must be implemented to properly handle URI syntax and be embedded in the Request Parsing component.

TBD:

- [ ] wrap the query dissection (`uriDissectQueryMallocA`) function from `uriparser`
- [ ] allow components of a URI to be modified 
- [ ] add default constructor to URIs in order to support URI creation from scratch
- [ ] add a `string` member functon to `Uri` to recompose a URI representation