Add support for the "compress" transfer encoding

Support for `compress` transfer encoding described in [[RFC7230, Section 4.2.1]](https://tools.ietf.org/html/rfc7230#section-4.2.1) must be added.