Add support for the "deflate" transfer encoding

Support for `deflate` transfer encoding described in [[RFC7230, Section 4.2.2]](https://tools.ietf.org/html/rfc7230#section-4.2.2) must be added.

